<div class="wg-container" *ngIf="userName" role="region" aria-label="Welcome greeting">
  <span class="wg-text" *ngIf="isFirstLogin" aria-live="polite" [attr.aria-label]="'Welcome, ' + userName">
    {{ 'welcomegreeting.welcome' | translate }} <strong class="wg-name bg-surface-primary" aria-hidden="true">{{
      userName | titlecase }}</strong>
  </span>
  <span class="wg-text" *ngIf="!isFirstLogin" aria-live="polite" [attr.aria-label]="'Welcome Back, ' + userName">
    {{ 'welcomegreeting.welcomeBack' | translate }} <strong class="wg-name" aria-hidden="true">{{ userName | titlecase
      }}</strong>
  </span>
</div>