@use '@sunbird-cb/design-system/src/styles/_ws-vars';
@use '@sunbird-cb/design-system/src/styles/_ws-mixins' as *;

.primary {
    text-transform: underline;
    font-weight: 600;
    color: #FFF;
}

.close {
    font-weight: 600;
    color: $colorRed;
}