@use '@angular/material' as mat;
@use '@sunbird-cb/design-system/src/styles/_ws-vars' as *;
// Base typography config
$typography: mat.m2-define-typography-config($font-family: $font-family-lato,
    $headline-1: mat.m2-define-typography-level(112px, 112px, 400, $font-family-montserrat),
    $headline-2: mat.m2-define-typography-level(56px, 56px, 400, $font-family-montserrat),
    $headline-3: mat.m2-define-typography-level(45px, 52px, 400, $font-family-montserrat),
    $headline-4: mat.m2-define-typography-level(36px, 40px, 300, $font-family-montserrat),
    $headline-5: mat.m2-define-typography-level(24px, 36px, 600, $font-family-montserrat),
    $headline-6: mat.m2-define-typography-level(20px, 30px, 600, $font-family-montserrat),
    $subtitle-1: mat.m2-define-typography-level(16px, 24px, 600, $font-family-montserrat),
    $subtitle-2: mat.m2-define-typography-level(14px, 21px, 400, $font-family-lato),
    $body-1: mat.m2-define-typography-level(16px, 24px, 600, $font-family-montserrat),
    $body-2: mat.m2-define-typography-level(16px, 24px, 400, $font-family-lato),
    $caption: mat.m2-define-typography-level(12px, 18px, 400, $font-family-lato),
    $button: mat.m2-define-typography-level(14px, 21px, 700, $font-family-lato),
    $overline: mat.m2-define-typography-level(10px, 16px, 400, $font-family-lato));

// Apply base typography globally
@include mat.all-component-typographies($typography);
@include mat.core();

// Size variants
@each $size, $scale in ('x-small': -0.5,
  'small': -0.25,
  'large': 0.25,
  'x-large': 0.5) {
  .#{$size}-typography {
    $typography: mat.m2-define-typography-config($font-family: $font-family-lato,
        $headline-1: mat.m2-define-typography-level(112px + 112px * $scale, 112px + 112px * $scale, 400, $font-family-montserrat),
        $headline-2: mat.m2-define-typography-level(56px + 56px * $scale, 56px + 56px * $scale, 400, $font-family-montserrat),
        $headline-3: mat.m2-define-typography-level(45px + 45px * $scale, 52px + 52px * $scale, 400, $font-family-montserrat),
        $headline-4: mat.m2-define-typography-level(36px + 36px * $scale, 40px + 40px * $scale, 300, $font-family-montserrat),
        $headline-5: mat.m2-define-typography-level(24px + 24px * $scale, 36px + 36px * $scale, 600, $font-family-montserrat),
        $headline-6: mat.m2-define-typography-level(20px + 20px * $scale, 30px + 30px * $scale, 600, $font-family-montserrat),
        $subtitle-1: mat.m2-define-typography-level(16px + 16px * $scale, 24px + 24px * $scale, 600, $font-family-montserrat),
        $subtitle-2: mat.m2-define-typography-level(14px + 14px * $scale, 21px + 21px * $scale, 400, $font-family-lato),
        $body-1: mat.m2-define-typography-level(16px + 16px * $scale, 24px + 24px * $scale, 600, $font-family-montserrat),
        $body-2: mat.m2-define-typography-level(16px + 16px * $scale, 24px + 24px * $scale, 400, $font-family-lato),
        $caption: mat.m2-define-typography-level(12px + 12px * $scale, 18px + 18px * $scale, 400, $font-family-lato),
        $button: mat.m2-define-typography-level(14px + 14px * $scale, 21px + 21px * $scale, 700, $font-family-lato),
        $overline: mat.m2-define-typography-level(10px + 10px * $scale, 16px + 16px * $scale, 400, $font-family-lato));

    @include mat.all-component-typographies($typography);
  }
}