@use '@angular/material' as mat;
@import './theme-mixins';
// Plus imports for other components in your app.
// @include mat-core();

/* ---------------------------------------------------
   1. DEFINE CUSTOM PALETTES (DO NOT OVERRIDE mat vars)
--------------------------------------------------- */

$ws-blue-palette: mat.m2-define-palette((50: #eff1f3,
            100: #ffffff,
            200: #a5c1dc,
            300: #68a0d6,
            400: #4788c7,
            500: #ffffff,
            600: #0358ab,
            700: #5f5f5f,
            800: #154a7d,
            900: #b3bdc7,
            contrast: (50: rgba(black, 0.87),
                100: black,
                600: white,
                700: white,
                800: white,
                900: white,
            ),
        ));

$ws-orange-palette: mat.m2-define-palette((50: #fff3e0,
            100: #d9f2fe,
            200: #ffcc80,
            300: #ffb74d,
            400: #ffa726,
            500: #0074b6,
            700: #15a9f4,
            800: #f58634,
            900: #2095cc,
            contrast: (50: rgba(black, 0.87),
                800: white,
                900: white,
            ),
        ));

/* ---------------------------------------------------
   2. SHARED THEME CONFIG
--------------------------------------------------- */

$color-config: (
    primary: $ws-blue-palette,
    accent: $ws-orange-palette,
    warn: mat.m2-define-palette(mat.$m2-red-palette),
);

$typography-config: mat.m2-define-typography-config();
$density-config: 0;

/* ---------------------------------------------------
   3. THEMES
--------------------------------------------------- */

$light-theme: mat.m2-define-light-theme((color: $color-config,
            typography: $typography-config,
            density: $density-config,
        ));

$dark-theme: mat.m2-define-dark-theme((color: $color-config,
            typography: $typography-config,
            density: $density-config,
        ));

/* ---------------------------------------------------
   4. APPLY THEMES
--------------------------------------------------- */

.theme-igot {
    &.day-mode {
        @include mat.all-component-themes($light-theme);
        @include theme-based-configurations($light-theme);
    }

    &.night-mode {
        @include mat.all-component-themes($dark-theme);
        @include theme-based-configurations($dark-theme);
    }
}