::ng-deep .mandatory-notification-dialog-container {
  .mat-dialog-container {
    padding: 24px !important;
    background: #ffffff !important;
    border-radius: 8px !important;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
      0px 24px 38px 3px rgba(0, 0, 0, 0.14),
      0px 9px 46px 8px rgba(0, 0, 0, 0.12) !important;
  }

  .mat-dialog-title {
    margin: 0 0 16px 0 !important;
    padding: 0 !important;
    text-align: center;
  }

  .mat-dialog-content {
    margin: 0 !important;
    padding: 0 !important;
    max-height: unset !important;
  }

  .mat-dialog-actions {
    margin: 0 !important;
    padding: 0 !important;
    min-height: unset !important;
  }
}

.mandatory-notification-modal {
  min-width: 400px;
  max-width: 560px;
  margin: 0 auto;

  @media (max-width: 768px) {
    min-width: unset;
    max-width: unset;
  }

  .modal-title {
    /* stylelint-disable */
    font: 600 20px 'Noto Sans';
    /* stylelint-enable */
    margin-bottom: 8px;

    @media (max-width: 768px) {
      font-size: 0.85rem;
    }
  }

  .modal-body {
    /* stylelint-disable */
    font: 400 14px 'Noto Sans';
    /* stylelint-enable */
    line-height: 1.6;
    color: var(--text-bandw-black-fine-print);

    @media (max-width: 768px) {
      font-size: 12px;
    }
  }

  .modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    padding-top: 16px;
  }

  .btn-reject {
    opacity: 1;
    /* stylelint-disable */
    font: 700 14px 'Noto Sans';
    /* stylelint-enable */
    font-style: normal;
    letter-spacing: 0.5px;
    text-align: left;
    line-height: 20px;
    border: 1px solid var(--environment-button-primary-filled-primary);
    border-radius: 63px;
    padding: 6px 16px;
    background-color: var(--surface-primary) !important;
    color: var(--environment-button-primary-filled-primary) !important;

    @media (max-width: 768px) {
      font-size: 12px;
    }
  }

  .btn-accept {
    opacity: 1;
    /* stylelint-disable */
    font: 700 14px 'Noto Sans';
    /* stylelint-enable */
    font-style: normal;
    letter-spacing: 0.5px;
    text-align: left;
    line-height: 20px;
    background-color: var(--environment-button-primary-filled-primary);
    border-radius: 63px;
    padding: 6px 16px;
    border: none;
    color: var(--text-button-text-primary-white) !important;

    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
}